    <!-- This is the Header of the page -->
    <header class="header">
        <div class="homeLogo">
            <img src="./HOME.png" width="525px" height="135px">
        </div>
    </header>

    <!-- home -->
    <a class="waves-effect waves-light btn backToListBtn" id="backToListBtn"><i
            class="material-icons">arrow_back</i>Back To List</a>


    <ul class="collection with-header">
        <li class="collection-header">
            <h4>{{user.item-name}}</h4>
        </li>
        <li class="collection-item">
            <div class="detail">
                <h5 class="detailTitle">Category: </h5>
                <h5>{{user.category}}</h5>
            </div>
        <li class="collection-item">
            <div class="detail">
                <h5 class="detailTitle">Purchase Date: </h5>
                <h5>{{user.purchase_date}}</h5>
            </div>
        <li class="collection-item">
            <div class="detail">
                <h5 class="detailTitle">Purchased From: </h5>
                <h5>{{user.purchased_from}}</h5>
            </div>
        <li class="collection-item">
            <div class="detail">
                <h5 class="detailTitle">Purchase Price: </h5>
                <h5>{{user.purchase_price}}</h5>
            </div>
    </ul>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>