<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
    <!-- Compiled and minified CSS documentation for Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/item-details.css">
</head>
<body>
    <!-- This is the Header of the page -->
    <header class="header">
        <div class="homeLogo">
            <img src="./HOME.png" width="525px" height="135px">
        </div>
    </header>

    <!-- home -->
    <a class="waves-effect waves-light btn backToListBtn" id="backToListBtn"><i
            class="material-icons">arrow_back</i>Back To List</a>


    <ul class="collection with-header">
        <li class="collection-header">
            <h4>{{item-name}}</h4>
        </li>
        <li class="collection-item">
            <div class="detail">
                <h5 class="detailTitle">Category: </h5>
                <h5>{{category}}</h5>
            </div>
        <li class="collection-item">
            <div class="detail">
                <h5 class="detailTitle">Purchase Date: </h5>
                <h5>{{purchase_date}}</h5>
            </div>
        <li class="collection-item">
            <div class="detail">
                <h5 class="detailTitle">Purchased From: </h5>
                <h5>{{purchased_from}}</h5>
            </div>
        <li class="collection-item">
            <div class="detail">
                <h5 class="detailTitle">Purchase Price: </h5>
                <h5>{{purchase_price}}</h5>
            </div>
    </ul>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>